.git
.gitignore
.env
node_modules/
vendor/
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
docker/
Dockerfile
docker-compose.yml
.dockerignore
.editorconfig
phpunit.xml
tests/
